a{
  color:#206a5d;
  margin:50px;
  text-decoration: none;
  font-weight: bold;
}
body{
  margin:0;
  text-align:center;
  font-family: 'Lora', serif;
}
.top-container{
  background-color: #faf3dd;
}
h1{
  margin-top: 50px;
  margin-bottom:0;
  font-family: 'Dancing Script', cursive;
  font-size: 5.7rem;
  color:#68b0ab;
  line-height: 1.5;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.3rem;
  color:#8fc0a9;
  font-weight:500;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#68b0ab;
  margin-bottom: 5px;
  font-size:1.3rem;
}
hr{
  border-style:dotted none none none;
  border-width: 5px;
  width:5%;
  margin:70px auto;
}
p{
  font-weight: bold;
  font-family: Open Sans, sans-serif;
}
/******************************Class selectors*************************/
.bottom-cloud{
  position:absolute;
}
.bottom-container{
  background-color: #8fc0a9;
  padding-top:30px;
}
.computer{
  width:25%;
  float:left;
  margin-right: 30px;
}
.btn{
  color:#FFFFFF;
  border-radius: 10px;
  background-color: #8fc0a9;
  font-family:Open Sans,serif;
  padding:10px;
  display:inline-block;
  font-size: 20px;
}
.btn:hover{
  color:#FFFFFF;
  border-radius: 10px;
  background-color: #158467;
  font-family:Open Sans,serif;
  padding:10px;
  display:inline-block;
  font-size: 20px;
}
.cs{
  text-decoration:underline;
}
.contact-me{
  display:inline-block;
  width:30%;
  margin:0 5%;
}
.cv{
  display:inline-block;
  width:30%;
  height:344px;
  margin:0 5%;
}
.cv-btn{
  color:#FFFFFF;
  border-radius: 10px;
  background-color: #8fc0a9;
  font-family:Open Sans,serif;
  padding:10px 5px 10px 10px;
  display:inline-block;
  font-size: 20px;
  letter-spacing:0.4rem;
}
.cv-btn:hover{
  color:#FFFFFF;
  border-radius: 10px;
  background-color: #158467;
  font-family:Open Sans,serif;
  padding:10px 5px 10px 10px;
  display:inline-block;
  font-size: 20px;
  letter-spacing:0.4rem;
}
.mountain{
  position:relative;
  top:4px;
}
.profile{
  width:30%;
  margin:0 auto;
}
.profile-description{
  line-height: 2;
}
.profile-picture{
  margin-top:40px;
}
.programming-description{
  margin-top:0;
}
.skill-row{
  width:50%;
  margin:50px auto 170px auto;
  text-align:left;
  line-height:2;
  position:relative;
  top:50px;
}
.subtitle{
  font-family: 'Montserrat', sans-serif;
  font-size:2.1rem;
  color:#8fc0a9;
  font-weight:normal;
}
.top-cloud{
  position:absolute;
  top:40px;
  right:350px;
}

.top-container{
  padding-top:100px;
}
.web{
  width:25%;
  float:right;
  margin-left: 30px;
}
.web-description{
  margin-top:0;
}
.writer-p{
  margin:0;
  padding:30px 0 30px 0;
  color:#EAF6F6;
  font-weight: normal;
}
